
<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors.full_messages.to_sentence if f.object.errors.present? %>

  <div class="form-inputs" data-controller="image">
    <%= f.association :category, collection: current_user.categories.order(:name), include_blank: 'Choose category' %>
    <%= f.input :text %>
    <%= f.input :image, as: :file, input_html: { data: { action: 'image#showImage', image_target: 'imageInput' } } %>
    <div class="d-flex align-items-center" id="previewDiv">
      <img src="<%= url_for(@question.image) if @question.image.attached? %>" id="imagePreview" data-image-target="imagePreview" alt="Attached image"  />
      <% if @question.image.attached? %>
        <%= link_to '', attachment_path(@question.image.id), type: "button", class: "btn-close", data: { turbo_confirm: 'Are you sure?', turbo_method: :delete, action: "image#deleteImage" }, id: 'deleteImageBtn' %>
      <% end %>
    </div>
    <%= f.input :answer %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>
