<tr>
  <td>
    <%= player_avatar(sessions_player.user) %>
    <%= sessions_player.user.nickname %>
  </td>
  <td>
    <%= turbo_frame_tag dom_id(sessions_player, :player) do %>
      <% if sessions_player.active? %>
        <%= render 'host/quiz_sessions/synchronous/deactivate_player_form', sessions_player: sessions_player %>
      <% else %>
        <%= render 'host/quiz_sessions/synchronous/activate_player_form', sessions_player: sessions_player %>
      <% end %>
    <% end %>
  </td>
</tr>
