<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; min-height: 100vh;">
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="<%= current_user.profile_picture.attached? ? url_for(current_user.profile_picture) : asset_path("default-avatar.webp") %>" alt="" width="32" height="32" class="rounded-circle me-2">
      <strong><%= current_user.nickname %></strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" style="">
      <li>
        <%= link_to 'Profile', edit_user_registration_path, class:"dropdown-item" %>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <%= button_to "Sign out", destroy_user_session_path, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "dropdown-item" %>
      </li>
    </ul>
  </div>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <%= link_to 'Main', root_path, class: "nav-link text-white #{' active' if params[:controller] == 'pages' }"%>
    </li>
    <li class="nav-item">
      <%= link_to 'Quiz Sessions', quiz_sessions_path, class: "nav-link text-white #{' active' if params[:controller] == 'quiz_sessions' }"%>
    </li>
    <li>
      <button class="dropdown-toggle btn btn-toggle align-items-center rounded text-white w-100 text-start ps-3" data-bs-toggle="collapse" data-bs-target="#questions-collapse" aria-expanded="true">
        Questions
      </button>
      <div class="collapse <%= 'show' if params[:controller] == 'questions' %>" id="questions-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
          <li>
            <%= link_to 'My Questions', questions_path, class: "nav-link text-white #{' active' if params[:controller] == 'questions' && !params[:general] }"%>
          </li>
          <li>
            <%= link_to 'General Questions', questions_path(general: true), class: "nav-link text-white #{' active' if params[:controller] == 'questions' && !!params[:general] }"%>
          </li>
          <hr>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <button class="dropdown-toggle btn btn-toggle align-items-center rounded text-white w-100 text-start ps-3" data-bs-toggle="collapse" data-bs-target="#categories-collapse" aria-expanded="true">
        Categories
      </button>
      <div class="collapse <%= 'show' if params[:controller] == 'categories' %>" id="categories-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
          <li>
            <%= link_to 'My Categories', categories_path, class: "nav-link text-white #{' active' if params[:controller] == 'categories' && !params[:general] }"%>
          </li>
          <li>
            <%= link_to 'General Categories', categories_path(general: true), class: "nav-link text-white #{' active' if params[:controller] == 'categories' && !!params[:general] }"%>
          </li>
          <hr>
        </ul>
      </div>
    </li>
  </ul>
  <hr>
</div>
